<div class="section-about section-outer">
    <div class="section-about__wrapper">
        <h2 class="section-about__title text-fssb__bold">
            What people are saying about us
        </h2>
        <div class="section-about__container">
            {# ===== new row ===== #}
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Referats is just getting better and better by the month!”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “I love Referats, the range of books out stretches my college and university”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “A very easy (and inexpensive) way to get access to loads of good quality textbooks”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Has everything I need- apart from the time I need to read everything.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
            {# ===== new row ===== #}
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “I think your product is amazing
                        and you can change the world with your company!
                        I am definitely recommending you to my students.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Keep up the great work, you are providing a service that helps less well-off
                        students stay on equal footing in their studies.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Thank you so much for that, especially in this time, when all students
                        in Poland are obligated to stay at home”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “An excellent service that allows me to keep everything in one place,
                        with an immense selection of titles.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
            {# ===== new row ===== #}
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Your service broadened my academic interests”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “I just wanted to say thank you, this is so helpful for uni.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “They’re our partner because they do some really cool stuff.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “It’s hard not to recommend Referats.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
            {# ===== new row ===== #}
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “I should also say that as a lecturer this software is a game-changer,
                        and it will be an absolute lifeline to our students both here and around
                        the world. Keep up this good and vital work.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “Thank you, thank you, thank you! I have just discovered your treasure trove
                        and with no current university affiliation due to caring for my son,
                        I was craving access to academic text. You have opened doors for me today.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “With Referats I can read as many books as I want and it has proven invaluable
                        during lockdown as I begin my dissertation research. This app has saved my
                        academic career, no joke.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
                {# about item #}
                <div class="section-about__item">
                    <div class="item__text text-fsd__semibold">
                        “I should also say that as a lecturer this software is a game-changer, and it
                        will be an absolute lifeline to our students both here and around the world.
                        Keep up this good and vital work.”
                    </div>
                    <div class="item__author text-fsm__regular">Marc, Finance Professor</div>
                </div>
        </div>
    </div>
</div>