//TEXTS ===============================================================================================================

//Bold
.text-fsm__bold {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.text-fsb__bold {
    font-size: $fontSizeBig;
    font-weight: 700;
}

.text-fsd__bold {
    font-size: $fontSizeDeafault;
    font-weight: 700;
}

.text-fssb__bold {
    font-size: $fontSizeStrongBig;
    font-weight: 700;
}

.text-fsbb__bold {
    font-size: $fontSizeBolderBig;
    font-weight: 700;
}

.text-fsboldb__bold {
    font-size: $fontSizeBoldBig;
    font-weight: 700;
}

.text-fslb__bold {
    font-size: $fontSizeLightBig;
    font-weight: 700;
}

.text-fsbm__bold {
    font-size: $fontSizeBoldMedium;
    font-weight: 700;
}

.text-fslm__bold {
    font-size: $fontSizeLightMedium;
    font-weight: 700;
}

.text-fsdd__bold {
    font-size: $fontSizeDefaultDefault;
    font-weight: 700;
}

//SemiBold
.text-fslb__semibold {
    font-size: $fontSizeLightBig;
    font-weight: 600;
}

.text-fsd__semibold {
    font-size: $fontSizeDeafault;
    font-weight: 600;
}

.text-fsm__semibold {
    font-size: $fontSizeMedium;
    font-weight: 600;
}

.text-fss__semibold {
    font-size: $fontSizeSmall;
    font-weight: 600;
}

.text-fsb__semibold {
    font-size: $fontSizeBig;
    font-weight: 600;
}

.text-fslm__semibold {
    font-size: $fontSizeLightMedium;
    font-weight: 600;
}

//Regular
.text-fsm__regular {
    font-size: $fontSizeMedium;
    font-weight: 400;
}

.text-fsd__regular {
    font-size: $fontSizeDeafault;
    font-weight: 400;
}

.text-fsb__regular {
    font-size: $fontSizeBig;
    font-weight: 400;
}

.text-fss__regular {
    font-size: $fontSizeSmall;
    font-weight: 400;
}

.text-fslb__regular {
    font-size: $fontSizeLightBig;
    font-weight: 400;
}
//=====================================================================================================================